<!--bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


<input [(ngModel)]="searchText" placeholder="search text goes here" class="searchbar">

<mat-accordion *ngFor="let player of MyPlayers | filter : searchText">
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <h3>Player Name: {{ player.name }} </h3>
        </mat-expansion-panel-header>

        <mat-panel-description>
            <div class="col-sm-5">
                <img class="myImg" src="{{ player.icon }}">
            </div>
            <div class="col-sm-7">
                <h1><b>Player Name:</b>{{ player.name }}</h1>
                <h1><b>Current Guild:</b>{{ player.guild }}</h1>
                <h1><b>Current Level:</b>{{ player.level }}</h1>
                <mat-progress-bar class="progress" style="height: 20px;" mode="determinate" value="{{player.level}}">
                </mat-progress-bar>

                <h1><b>Current Mana:</b>{{ player.mana }}</h1>
                <mat-progress-bar class="progress manatype" style="height: 20px;" mode="determinate" value="{{player.mana}}">
                </mat-progress-bar>

                <h1><b>Current Dexterity:</b>{{ player.dex }}</h1>
                <mat-progress-bar  class="progress" style="height: 20px;" mode="determinate" value="{{player.dex}}">
                </mat-progress-bar>

            </div>

            <mat-progress-bar class="progress" style="height: 20px;" mode="determinate" value="{{player.level}}">
            </mat-progress-bar>
        </mat-panel-description>
        <!-- <img src="{{player.icon}}"> -->

        <mat-action-row>
            <button mat-button [routerLink]="['/edit', player._id]" color="primary">EDIT</button>
            <button mat-button (click)="onDelete(player._id)" color="warn">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>