.jumbotron{
    margin:0;
    padding-bottom:3%;
    background-image: url("http://getwallpapers.com/wallpaper/full/e/5/3/884434-dungeons-and-dragons-wallpapers-1920x1080-for-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.display-4{
    text-align:center;
    font-weight:bold;
    color: aliceblue;
}

.lead{
    text-align:center;
    font-weight:bold;
    color: aliceblue
}

