
   <mat-toolbar color="primary"> 
      <mat-toolbar-row>
              <span class="title-center">
          Welcome to my RPG APP
      </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
    <button mat-button [routerLink]="['/create']" color="Warn">Create</button>
    <button mat-button [routerLink]="['/read']">Read</button>
    <button mat-button [routerLink]="['/login']">login</button>
    <button mat-button [routerLink]="['/warrior-read']">Warriors</button>
  </mat-toolbar-row>
   </mat-toolbar>
  
  <router-outlet></router-outlet>